{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
      <h5 class="card-header text-center">Users In Groups Management System</h5>
      <div class="card-body" style="display:flex;align-content:center;">
        <a href="/groups" class="btn btn-lg btn-success" style="font-size:2em;flex-basis:50%;">Browse Groups</a>
        <a href="/users" class="btn btn-lg btn-primary" style="font-size:2em;flex-basis:50%;">See Users</a>
      </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

